body {
  font-family: njnaruto;
  margin: 0;
  background-color: #f0f0f0;
  position: relative; /* Adicionando posição relativa */
}

/* Adicionando um overlay escuro sobre a imagem de fundo */
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Cor preta com 50% de opacidade */
  z-index: -1; /* Definindo um z-index para garantir que fique abaixo do conteúdo */
}

/* Adicionando a imagem de fundo */
body {
  background-image: url('../images/fundo.jpg'); /* Caminho para a imagem de fundo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  width: 100%;
  height: 50px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #333; /* Alterando a cor de fundo do cabeçalho */
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  background-color: #e65729; /* Alterando a cor de fundo da barra de navegação */
  padding: 10px 0; /* Adicionando padding top e bottom para espaçamento interno */
  display: flex;
  justify-content: space-around;
}

.logo {
  display: inline-block;
  margin-left: 40px;
}

.logo img {
  width: 50px; 
}

.links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-top: 5px;
}

.links li {
  display: inline-block;
  margin-top: 10px;
}

.links li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.links li a:hover {
  background-color: #555;
} 


#character-details {
  background-color: rgba(255, 255, 255, 0.9); /* Altera a cor de fundo para branco com alguma transparência */
  padding: 20px; /* Adiciona espaço interno para os detalhes */
  border-radius: 5px; /* Adiciona bordas arredondadas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra para destacar o elemento */
  margin: 0 auto; /* Centraliza horizontalmente */
  max-width: 80%; /* Limita a largura máxima para melhor legibilidade */
}





